
  #conteudo{
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #000000;
    text-align: center;
    z-index: 1000;
    
  }
  
  #titulo{
    width: inherit;
    height: 80px;
    background-color: #1b1624;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 26px;
    font-family: verdana;
    word-spacing: 5px;
    letter-spacing: 3px;
  }
  
  #form{
    color: #fff;
    width: inherit;
    height: 185px;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #261e33;
  }
  
  input{
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #1b1624;
    color: #fff;
  }
  
  #resultado{
    color: #fff;
    width: inherit;
    height: 35px;
    background-color: rgb(177, 71, 209);
    box-sizing: border-box;
    padding-top: 2px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
  }

  #botaoCalc{
      color: #fff;
      background-color: #1b1624;
  }
  
  #botaoReset{
    width: 100px;
    height: 30px;
    background-color: rgb(123, 42, 148);
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    margin-top: -30px;
    margin-left: 20px;
  }
  
  #botaoReset a{
    color: #ffffff;
    text-decoration: none;
  }
  
  .msgErro {
    font-family: Verdana;
    font-size: 1em;
    color: red;
    font-weight: bold;
    text-align: center;
    
  }
