 
#conteudo{
    display: flex;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #0c000f;
    text-align: center;
    color: #fff;
   
}
 
#titulo{
    width: max-content;
    height: 80px;
    background-color: #1b1624;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 26px;
    font-family: verdana;
    word-spacing: 5px;
    letter-spacing: 3px;
    z-index: 1000;
}
 
#form{
    width: inherit;
    height: 190px;
    position: absolute;
    
    padding-top: 90px;
    box-sizing: border-box;
    background-color: #261e33;
    z-index: 999;
}

input{
    color: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #1b1624;
}

#container_button{
    width: 200px;
    height: 50px;
    float: left;
    text-align: left;
}
 
#resultado{
    width: 400px;
    height: 215px;
    overflow: scroll;
    background-color: #1b1624;
    box-sizing: border-box;
    padding-top: 2px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    float: left;
}




